body{border: 0;font-family: Arial;size: 12px;}
a{color: #000;text-decoration: none;}
a:hover{text-decoration:underline}
menu{display: block;margin-top:80px;margin-bottom:10px}
footer{height:50px;background:#eee;text-align:center;padding:20px;margin-top:50px}
section{margin-top:50px;background:#eee;border-radius:20px;padding:30px}
h1{margin-top:0}
fieldset{border-radius:10px;margin-bottom:15px}

#center{margin: 0 auto 0 auto;width: 980px;}
#logo{height: 100px;width:200px}
//#logo img{width:100%;height:100%;border:1px solid black}
#nome_empresa{position:relative;top:-80px;left:220px;margin-bottom:-100px;height:0}
#nome_empresa label{font-size:26px;font-weight:bold}
#marcadagua{margin:25px;float:right}
#linha{height:5px;background:#66e;clear:both}
/*#divlogo{color:#dd0000;font-size: 50px;border:1px solid #000}*/
#id_usuario{float:right;margin-bottom:-50px}
#id_usuario a{color:blue}


/* ----- LOGIN ----- */
#header_login img{width:150px}
#header_login div{position:relative;top:-100px;font-size:45px;left:170px;font-weight:bold}
#session_login{background:#FFF}
#form_login{margin:100px 0 225px 320px;border:1px solid #aaa;background:#eee;padding:20px 20px 0 20px;width:280px;border-radius:20px}
#form_login h1{margin:0;text-align:center}
#form_login div{height:40px}
#form_login div input[type="email"], #form_login div input[type="password"]{float:right;width:200px;height:20px;border:1px solid #AAA;border-radius:5px}
#form_submit{background:#F5F5F5;border:1px solid #aaa;border-radius:5px}
.form_busca{margin-bottom:10px}
.form_busca input[type="text"]{background:#fff;border:1px solid #888;border-radius:10px;padding:3px 10px;width:500px}
.form_busca input[type="text"]:focus{border:1px solid #ff0000}
.sobe_form_busca{position:relative;top:-47px;left:100px;margin-bottom:-37px}


/* ----- MENU ----- */
menu{text-decoration: none;float: right}
.menu_li{float: left;list-style: none;margin-top:0}
.menu_li span{text-align:center;}
.menu_li:hover{margin-bottom:-10px}
.menu_li:hover ul {display:block;height: 0}
.menu_li ul{display:none;list-style:none;margin:10px 0 0 -20px}
.menu_li ul li{margin-left: -20px;text-align: center;position:relative;z-index: 1}
.menu_li a{padding:10px 30px;background:#eee;border-bottom:0;border-radius:15px 15px 0 0;}
.menu_li a:hover{background:#66e;color:#fff;}
.menu_li li{margin:0;background:#eee;padding:10px 0 10px 0;border-bottom:1px solid #fff;}
.menu_li li a{border:0;border-radius:0;padding:0;background:transparent;}
.menu_li li:hover{background:#66e;color:#fff;}


/* ----- FORMULÁRIOS ----- */
.formulario{}
.formulario div{margin:10px 0}
.formulario span{color:#dd0000}
.formulario textarea{width:870px;height:200px}
.formulario input, select, textarea{background:#fff;border:1px solid #888;border-radius:10px;padding:3px 10px}
.formulario input:focus, select:focus, textarea:focus{border:1px solid #ff0000}

/*#ab{float:right;margin-top:-5px;margin-right:10px;font-weight:bold}*/
#ab{position:relative;top:-45px;left:750px;height:0;margin-bottom:-5px}
#dv_rg{position:relative;top:-37px;left:300px;height:0}
#dv_cpfj{margin-top:-10px !important}
#dv_cpf{position:relative;top:-42px;left:90px;height:0}
#dv_numero{position:relative;top:-35px;left:700px;height:0}
#dv_cep{position:relative;top:-35px;left:500px;height:0}
#form_cidade{position:relative;top:-35px;left:300px;height:0;margin-bottom:-5px !important}
#dv_cel{position:relative;top:-35px;left:300px;height:0}
#dv_tel{margin-top:15px!important}
#dv_email{position:relative;top:-45px;left:600px;height:0}
#dv_email1{position:relative;top:-35px;left:475px;height:0}
#dv_sexo{position:relative;top:-60px;left:750px;height:0;margin-bottom:0 !important}
#dv_descri{margin-top:20px!important}
#dv_valor{position:relative;top:-35px;left:375px;height:0}
#dv_quant{position:relative;top:-35px;left:300px;height:0}
#dv_minimo{position:relative;top:-45px;left:560px;margin-bottom:-40px!important}
#dv_setor{position:relative;top:-37px;left:400px;height:0}
#dv_val_venda{position:relative;top:-35px;left:270px;height:0}
#dv_limitedesc{position:relative;top:-45px;left:540px;height:0;margin-bottom:-15px!important}
#dv_dt_venc{position:relative;top:-35px;left:270px;height:0}
#dv_senha{position:relative;top:-33px;left:300px;height:0;margin-bottom:-10px}
#dv_data_vencimento{position:relative;top:-27px;left:400px;margin-bottom:-27px;}
#form_mostra_status{float:right;margin-top:-48px}
#form_filtro_movimento input{background:#fff;border:1px solid #888;border-radius:10px;padding:3px 10px}
#form_filtro_movimento input:focus{border:1px solid #ff0000}
#venda tr th{width:16.6%}
#montante tr th{width:33.33%}
#venda, #montante{display:none}
#tipo_usiario{position:relative;top:-35px;left:645px;height:0}
#tipo_usiario .campos{margin-right: 10px}
#mostra_r{position:relative;top:-49px;left:700px;height:0}

#nome{width: 574px;margin-right:30px}
#nome1{width: 806px}
#dt_nasc{width: 80px}
#rg{width: 300px; margin-right: 50px}
#cpf, #cnpj{width: 300px}
#endereco{width: 550px}
#numero{width: 70px}
#bairro{width: 330px}
#cep{width:200px}
#representante{width: 735px;margin-right:30px}
#descri{width: 790px;}
#codebar{width:400px}
#medida{width:100px}
#quantidade{width:100px}
#minimo{width:100px}
#marca{width:300px}
#setor{width:300px}
#val_custo{width:100px}
#val_venda{width:100px}
#limitedesc{width:100px}
#dt_compra{width:100px}
#dt_venc{width:100px}
#id, #quant{width:100px;margin-right:10px}
#cliente{width:500px}
#parcelas{width:80px}
#parc_venc{width:80px}
#valorparcelado{width:80px}
#valortotalvenda{width:80px}
#form_venda input{margin-right:20px}
#conf_pagamento{display:none}

.campos{color: #000;font-size: 14px;}
.valor_venda{float:right;padding-right:10px}
.readonly{background:#eee!important;margin-top:10px;margin-right:0!important}
.readonly:focus{border:1px solid #888!important}
.input_contato{width:200px}
.contato_fornecedor{width:320px}
.lnk_pag{padding:5px 10px;border:1px solid #000;background:#FFF}
.lnk_pag_sel{padding:5px 10px;border:1px solid #FFF;background:#F00;color:#FFF}
.erro{color:red;position:relative;left:0;bottom:0;height:0;margin-top:-0px !important}
.botao{background:#aaa;border:1px solid #aaa;border-radius:10px;padding:4px 10px;color:#fff}
.botao:hover{background:#fff;color:#000;border:1px solid #888}
.botao:active{border:1px solid #ff0000}
.btn_fechar{float:right;margin-top:-10px}

.tabela{background:#eee;width:100%;border:2px solid #fff}
.tabela th{background:#777;color:#fff;padding:5px}
.tabela th a{color:#FFF}
.tabela td{padding:3px}
.zb1{background:#fff}
.zb2{background:#eee}
.alerta{color:#ff0000}
.alerta a{color:#ff0000}
.mostrar_dados{font-weight:bold;margin-right:130px}
 #label_destaque{font-size: 30px}
.assinatura{display:none}
.inp_altsenha{width:500px;height:20px}
.dv_label{width:150px;text-align:right}
.dv_campo{position:relative;top:-20px;left:160px}
.dv_lb{width:150px;text-align: right}
.dv_cp{position: relative;top: -20px;left: 180px}
.dv_cp input[type="text"], 
.dv_cp input[type="email"]{width: 500px;height: 10px;padding: 5px 10px;border: 1px solid #AAA;border-radius: 10px}
.dv_cp input[type="submit"]{background:#888;border:2px solid #888;border-radius:10px;color:#FFF;margin-top:10px;padding: 3px 5px}
.dv_cp img{height:100px}
.relatorio{padding:10px 0 0 0}
.relatorio #form_cidade{position:relative;top:0;left:0;}
.relatorio #form_cidade label{display:none}
.relatorio #form_estado label{display:none}
.relatorio input[type="date"]{height:17px}
.relatorio select{height:20px;padding:0}

#segundavia, #print {display:none}